[defaults]
roles_path = wazuh-ansible/roles
host_key_checking = False
allow_broken_conditionals = True

[ssh_connection]
ssh_args = -o ProxyCommand='aws ec2-instance-connect open-tunnel --instance-id %h'
